[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coloredlogs = "==15.0.1"
getmac = "==0.8.3"
humanfriendly = "==10.0"
scapy = "==2.5.0"

[dev-packages]

[requires]
python_version = "3.9"
